<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_gpad-macropad._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>GPad needs local network access to connect with your iPhone macro pad.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>GPad needs to communicate with browsers to detect the current website and perform actions.</string>
</dict>
</plist>
